<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>896217259852-pjdfnffh9qdncvm80l88u03i5cu1o4eu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.896217259852-pjdfnffh9qdncvm80l88u03i5cu1o4eu</string>
	<key>API_KEY</key>
	<string>AIzaSyBmDXUVgdfNJn2V_KdzHcMKIo9Ip-jUelI</string>
	<key>GCM_SENDER_ID</key>
	<string>896217259852</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.infrability</string>
	<key>PROJECT_ID</key>
	<string>talaninfrability</string>
	<key>STORAGE_BUCKET</key>
	<string>talaninfrability.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:896217259852:ios:1d1016d0d1396fdf1339e9</string>
</dict>
</plist>